---

port: 4000
host: 0.0.0.0
safe: false


### site serving configuration ###
remote_theme: woodcock3/city-jekyll
exclude: [CNAME, README.md, npm.md, SECURITY.md, LICENSE.md, .gitignore, package.json, package-lock.json, postcss.config.js, .browserslistrc]
permalink: /:title ## disables post output
url: "https://cecleeds.github.io"
baseurl: "/"
deployurl: "https://cecleeds.co.uk" ## use if deploying site to an external server
environment: development ## if environment = deployment then cookies.md, cookie-consent.html, sitemap.xml & robot.txt use site.deployurl instead of site.url 
timezone: null
lsi: false
markdown: kramdown
highlighter: rouge


### content configuration ###
title:              "City Evangelical Church"
keywords:           "City, evangelical, church, Leeds, good, best, christian, Jesus, bible, gospel, Christ, God, Spirit, Faith, Lord"
description:        "We are a bible belieiving church in Beeston, Leeds who proclaim that Jesus is Lord, raised for the dead and the gospel is good news!"
author:             "woodcock3"
source_link:        "https://github.com/woodcock3/city-jekyll"
favicon:            "/assets/img/favicon/favicon.ico"
favicon_16:         "/assets/img/favicon/favicon-16x16.png"
favicon_32:         "/assets/img/favicon/favicon-32x32.png"
touch_icon:         "/assets/img/favicon/apple-touch-icon.png" ## City logo as apple touch icon
safari_pinned_tab:  "/assets/img/favicon/safari-pinned-tab.svg" ## put safari pinned tab svg icon here
typewriter:  ### Hero typewriter message on homepage 
  - message: "Welcome"
  - message: "Sundays: 10:45am and 6:30pm"
  - message: "A city church with a community presence."
  - message: "We believe Jesus is good news."

google_analytics_key: ## put YOUR key here to enable tracking! (blank to disable)


### template colors, used site-wide via html/js ###
colors:
  ckyellow:     '#febd2e'
  ckblue:       '#01a8ff'
  cityorange:   '#f19426'
  cityblue:     '#259cd3'
  citygreen:    '#06892f'

kramdown:
  auto_ids:  false

collections_dir: pages

collections:
  home:
    output: true
    permalink: /
  sunday:
    output: true
    permalink: /sunday/
  whats-on:
    output: true
    permalink: /whats-on/
  about-us:
    output: true
    permalink: /about/
  connect:
    output: true
    permalink: /connect/
  kids-youth:
    output: true
    permalink: /under18/
  students:
    output: true
    permalink: /students/
  media:
    output: true
    permalink: /media/

### sass
sass:
  sass_dir: '_sass'
  style: expanded

plugins:
  - jekyll-postcss-v2
  - jekyll-remote-theme

### Import a json feed as data
### Uses https://rss2json.com
jekyll_get_json:
  - data: calendar
    json: 'https://cecleeds.churchsuite.co.uk/embed/calendar/json'
  - data: growthgroup
    json: 'https://cecleeds.churchsuite.co.uk/embed/smallgroups/json'
  - data: sermons
    json: 'https://api.rss2json.com/v1/api.json?rss_url=https%3A%2F%2Fcecleeds.co.uk%2Fsermons.php'
  - data: YouTube
    json: 'https://api.rss2json.com/v1/api.json?rss_url=https%3A%2F%2Fwww.youtube.com%2Ffeeds%2Fvideos.xml%3Fchannel_id%3DUCALb0SwFaFdPY2gwOesvb_g%26noapp%3D1'

